.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  padding: 6px;
  width: 75px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 12px 0 16px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}
