.timer {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding: 6px 12px;
  width: 75px;
  /* border: 1px solid black; */
  border-right: 4px solid black;
  border-left: 4px solid black;
}
