.status {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  width: 125px;
  /* border: 1px solid black; */
  margin-right: 6px;
}
.italic {
  font-style: italic;
  font-size: 16px;
}

.green {
  color: #18bc9c;
}

.red {
  color: #ff0039;
}

.orange {
  color: #f39c12;
}
